# Gradle files
.gradle/
build/
*/build/
!gradle-wrapper.jar

# Local configuration files
local.properties
keystore.properties

# IntelliJ / Android Studio
.idea/
*.iml

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# APK / AAB / output files
*.apk
*.ap_
*.aab

# Firebase
google-services.json

# Misc
captures/
